## Hands-on 3B

#### Build a Decision Tree classifier to predict the survivality of the Titanic passengers based on the data pre-processed in Hands-on 2C.

In [1]:
# Initialization
%matplotlib inline
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
# Import libraries
from pandas import read_csv
from sklearn.model_selection import train_test_split as split, KFold, GridSearchCV
from sklearn.tree import DecisionTreeClassifier

To do: 
- Store the features as variable X and targets as variable y
- Split the features and targets into training and testing sets

In [4]:
df = read_csv("titanic_processed.csv")
y = df["Survived"].values
del df["Survived"]
X = df.values
X_train, X_test, y_train, y_test = split(X, y, random_state=42)

To do:
- Evaluate the performance of decision tree classifier on this dataset (using the default hyperparameter values)

In [5]:
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)
print(f'Accuracy without tuning: {model.score(X_test, y_test):.2%}')

Accuracy without tuning: 74.89%

To do: 
- Use grid search to fine tune the following hyperparameters
    * criterion ('gini' or 'entropy')
    * max_leaf_nodes (from 2 to 20)

In [8]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)
params = dict(criterion=['gini', 'entropy'], max_leaf_nodes=range(2, 21))
params["max_depth"] = range(1, 21)
grid = GridSearchCV(model, params, cv=kf, n_jobs=-1, verbose=2)
grid.fit(X_train, y_train)
print(grid.best_params_)

Fitting 5 folds for each of 760 candidates, totalling 3800 fits
{'criterion': 'gini', 'max_depth': 3, 'max_leaf_nodes': 7}

To do:
- Train a decision tree classifier with the best set of hyperparameter values
- Evaluate the performance of the resulting classifier

In [9]:
model.set_params(**grid.best_params_).fit(X_train, y_train)
print(f'Accuracy with tuning: {model.score(X_test, y_test):.2%}')

Accuracy with tuning: 80.27%

In [11]:
df.describe()

,Pclass,Age,SibSp,Parch,Fare,Gender_female,Gender_male
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,2.308642,29.361582,0.523008,0.381594,32.204208,0.352413,0.647587
std,0.836071,13.019697,1.102743,0.806057,49.693429,0.477990,0.477990
min,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,22.000000,0.000000,0.000000,7.910400,0.000000,0.000000
50%,3.000000,28.000000,0.000000,0.000000,14.454200,0.000000,1.000000
75%,3.000000,35.000000,1.000000,0.000000,31.000000,1.000000,1.000000
max,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000,1.000000

In [19]:
print(model.predict([[1, 23, 0, 0, 500, 1, 0], [3, 25, 0, 0, 10, 0, 1]]))

[1 0]